body {
  background: black;
  font-family: 'Cormorant Garamond', Courier, monospace;
  font-weight: 200;
  line-height: 1.5;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#nav-left {
  padding: 0.9em 1.2em 0.9em 1em;
  float: left;
}

#nav-right {
  padding: 0.9em 1.3em;
  float: right;
}

button, a {
  border: none;
  background: none;
  color: white;
  opacity: 0.5;
  font-family: 'Cormorant Garamond', Courier, monospace;
  font-weight: 200;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  opacity: 1.0;
}

.current {
  opacity: 1.0 !important;
}

#prev {
  visibility: hidden;
}


.chap-button {
  visibility: hidden;
}

.text-button {
  opacity: 0.5;
  margin-left: 0.5em;
}

.text-button.on, .text-button:hover {
  opacity: 1.0;
}

img {
  max-width: 75%;
  max-height: 70%;
  display: none;
  box-shadow: 0 0 20px 10px rgb(0 0 0 / 20%);
}

#text {
  color: white;
  font-size: 4em;
  width: 60%;
  display: none;
  text-align: center;
}

#description-container {
  z-index: -1;
}

#description {
  margin-top: 10em;
  color: lightyellow;
  font-style: italic;
  font-size: 4em;
}

#text-container.small {
  align-items: flex-end;
  font-size: 0.5em;
}

.small #text {
  margin-bottom: 2em;
}

#description-container.small {
  align-items: flex-start;
  font-size: 0.5em;

}

.small #description {
  margin-top: 2em;
}

.white-fade {
  animation: white-fade-anim 70s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.black-fade {
  animation: black-fade-anim 50s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes white-fade-anim {
  from {background-color: black;}
  to {background-color: white;}
}


#start {
  font-size: 4em;
}


h1 {
  font-size: 1.5em;
  margin: 0;
}

#transcript-page {
  background: black;
  color: white;
}

#transcript-container {
  display: block;
  padding-top: 3em;
}

.transcript {
  color: white;
  font-size: 1.5em;
  width: 60%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 3em;
} 


@font-face {
  font-family: MinSans;
  src: url("Mins_Sans_v0300_Trial/MinSansTrial-Regular-v0300.otf") format("opentype");
}